/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html { background-color: #888; height: 100%; }
body { height: 100%; font: 20px/1.5em serif; overflow: hidden; }
h1 { font-size: 1.5em; line-height: 1em; text-align: center; }
h2 { font-size: 1em; line-height: 1em; }
textarea { width: 100%; font: inherit; border: 1px solid #ddd; padding: 0; resize: none; overflow: hidden; }
textarea:focus { outline: none; }
a { text-decoration: none; color: inherit; }

.main-wrapper { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.main-container { position: absolute; top: 0; left: 0; height: 100%; transition: left 0.2s; }
.main-container:after { content: ''; display: table; clear: both; }

.list-wrapper, .add-list-wrapper { height: 100%; width: 23em; overflow: hidden; float: left; position: relative; }
.list-container { height: 100%; width: 100%; overflow-y: scroll; overflow-x: hidden; }

.list { background-color: #fff; border-radius: 10px; width: 21em; margin: 3.5em auto; box-shadow: 0 0 1em rgba(0,0,0,0.2); position: relative; }

.list-header { z-index: 10; position: relative; padding: 1em 4em; border-radius: 0.5em 0.5em 0 0; border-bottom: 1px solid rgba(0,0,0,0.1); color: #fff; transition: color 0.2s, background-color 0.2s; }
.list-header h1 { box-sizing: border-box; transition-property: background-color, color, box-shadow, border; transition-duration: 0.2s; border-radius: 0.5em; border: 1px solid transparent; margin: -0.25em 0; line-height: 1.5em; white-space: nowrap; }
.list-header h1[contenteditable='true'] { background-color: #fff; color: #000; box-shadow: 0 0 0.25em rgba(0,0,0,0.1) inset; border-color: #ccc; }
.list-header h1[contenteditable='true']:focus { outline: none; }
.list-header h1[contenteditable='false']:empty:before { content: "\A0"; }
.edit-list, .delete-list { position: absolute; bottom: 0; right: 0; padding: 1.5em 1.25em 1em; line-height: 1em; opacity: 0.6; transition: opacity 0.2s; }
.delete-list { box-sizing: border-box; padding: 0; right: auto; left: 0; opacity: 0; width: 0; overflow: hidden; transition: padding 0s 0.2s, width 0s 0.2s, opacity 0.2s; }

.list-settings { padding: 0; overflow: hidden; background-color: #f0f0f0; font-family: sans-serif; color: #ccc; height: 0; transition: padding 0.2s, height 0.2s; }
.list-settings:before { float: left; display: block; width: 1em; height: 1em; padding: 0.25em 1.25em; }
.list-settings textarea { box-sizing: border-box; text-align: center; width: auto; border: 1px solid #ccc; text-transform: uppercase; margin: 0; }
.list-color { float: left; font-size: 0.6em; border-radius: 0.8333em; padding: 0.41666em 0.8333em; height: 2.5em; line-height: 1.666em; box-shadow: 0 0 0.41666em rgba(0,0,0,0.1) inset; }
.move-list-left:hover, .move-list-right:hover { color: #aaa; }
.move-list-left, .move-list-right { float: right; margin-top: -1em; width: 1em; height: 1em; padding: 1.25em; transition: color 0.2s; }

.editing .edit-list { opacity: 1; }
.editing .edit-item, .open .edit-item { opacity: 1; width: 3.5em; transition: width 0s 0s, opacity 0.2s; }
.editing .delete-list { opacity: 0.6; width: 3.5em; padding: 1.25em; transition: width 0s 0s, opacity 0.2s; }
.editing .list-settings { height: 1.5em; padding: 1em 0; }
.edit-list:hover, .delete-list:hover { opacity: 1; }

.list-item { border: solid rgba(0,0,0,0.1); border-width: 1px 0; margin-top: -1px; position: relative; overflow: hidden; background-color: #fff; }
.list-item h2 { position: relative; z-index: 1; }
.list-item h2, .descr { padding: 1em 3.5em; line-height: 1.5em; cursor: pointer; width: 100%; box-sizing: border-box; }
.descr { position: absolute; padding-top: 0; color: #888; cursor: default; }
.descr p { cursor: text; font: 0.6em/1.5em sans-serif; display: block; padding: 0.41666em; margin: -0.41666em; margin-right: 0; }
.descr p:focus { outline: none; box-shadow: 0 0 0 1px #ddd; }
.descr p:empty:after { content: 'Click to add notes'; color: #ddd; }
.checkbox { z-index: 2; position: absolute; top: 0; left: 0; width: 1em; height: 1em; padding: 1.25em; color: #0c0; }
.checkbox:before { position: absolute; top: 50%; left: 50%; margin: -0.5em 0 0 -0.5em; }
.checkbox:after { content: ""; box-sizing: border-box; display: block; width: 1em; height: 1em; border: 1px solid #ddd; }
.edit-item { z-index: 2; position: absolute; bottom: 0; right: 0; opacity: 0; min-height: 10.5em; height: 100%; overflow: hidden; transition: width 0s 0.2s, opacity 0.2s; }
.edit-item a { position: absolute; right: 0; padding: 1.25em; width: 1em; height: 1em; color: #ddd; transition: color 0.2s; }
.delete-item { top: auto; bottom: 0; }
.delete-item:hover { color: #f00; }
.move-item-down { top: 3.5em; }
.move-item-up { top: 0; }
.move-item-down:hover, .move-item-up:hover { color: #bbb; }

.list-input { padding: 1em 3.5em; position: relative; }
.list-input-textarea { display: block; border: none; min-height: 1.5em; }
.list-input-textarea:empty:before { content: 'Add Item'; color: #ddd; }
.list-input-textarea:focus { outline: none; }
.add-item { cursor: pointer; position: absolute; top: 0; left: 0; padding: 1.25em; color: #ddd; }

.edit-list, .checked, .move-item-up, .move-item-down, .move-list-right, .move-list-left, .delete-item, .delete-list, .add-item, .add-list, .list-settings:before, .alert-yes, .alert-no { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.checked:before, .alert-yes:before { content: "\e600"; }
.delete-item:before, .delete-list:before { content: "\e601"; }
.add-item:before, .add-list:before { content: "\e603"; }
.edit-list:before { content: "\e602"; }
.move-item-up:before { content: "\e604"; }
.move-item-down:before { content: "\e605"; }
.move-list-right:before { content: "\e606"; }
.move-list-left:before { content: "\e607"; }
.alert-no:before { content: "\e608"; }
.list-settings:before { content: "\e609"; }

.add-list-wrapper { position: relative; text-align: center; opacity: 0.4; cursor: pointer; transition: opacity 0.4s; }
.add-list-wrapper:before { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
.add-list-wrapper:hover { opacity: 1; }
.add-list { display: inline-block; vertical-align: middle; font-size: 3em; color: #FFF; text-shadow: 0 0 0.5em rgba(0,0,0,0.2); }

.alert { box-sizing: border-box; overflow: hidden; position: absolute; top: 3.5em; left: 0; background-color: #c00; height: 0; width: 100%; color: rgba(255,255,255,0.6); transition: height 0.2s; }
.alert h2 { padding: 1em 3.5em; line-height: 1.5em; }
.alert-yes, .alert-no { position: absolute; width: 1em; height: 1em; padding: 1.25em; top: 0; right: 0; transition: color 0.2s; }
.alert-yes:hover, .alert-no:hover { color: #fff; }
.alert-yes { right: 3.5em; }

@media (max-width: 600px) {
  .list-container { width: 100%; }
  .list { width: auto; min-height: 100%; border-radius: 0; }
  .list-header { border-radius: 0; }
  .list-input { border-bottom: 1px solid rgba(0,0,0,0.1); }
}

@media (max-width: 400px) {
  body { font-size: 17px; }
}